.rowC {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  max-width: 600px;
  text-align: left;
  margin-left: 150px;
}

.button-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
}

.button-container {
  margin-right: 10px;
  margin-top: 20px;
  margin-right: 70px;
}

.button-container button {
  margin-left: 15px;
}

.bridge {
  border-radius: 2%;
  display: block;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 100px;
}

.title-section h1 {
  font-size: 70px;
  transition: text-shadow 0.3s ease-in-out;
}

.title-section h1:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.title-section h2 {
  font-size: 30px;
}

.title-section p {
  font-size: 18px;
  margin-bottom: 60px;
}
.play-link {
  background-color: transparent;
  padding: 15px 30px;
  margin: 20px 0;
  border: none;
  border-radius: 8px;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 0 8px rgb(209, 2, 2);
  text-decoration: none;
  color: whitesmoke;
}

/* Add additional styles as needed */
.play-link:hover {
  background-color: rgb(209, 2, 2);
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 8px;
}
