.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #201f1f;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(162, 162, 162, 0.1);
  z-index: 1000;
  position: relative;
}

.login-container h2 {
  color: whitesmoke;
  margin-bottom: 20px;
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  width: 100%;
}

.login-container button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}

.login-button {
  background-color: transparent;
  color: whitesmoke;
  box-shadow: 0 0 3px rgb(34, 160, 5);
}

.login-button:hover {
  background-color: rgb(34, 160, 5);
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 8px;
}

.cancel-button {
  background-color: transparent;
  color: whitesmoke;
  box-shadow: 0 0 3px rgb(209, 2, 2);
}

.cancel-button:hover {
  background-color: rgb(209, 2, 2);
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.noaccount {
  color: whitesmoke;
  text-align: center;
}

.link {
  text-decoration: none;
  color: whitesmoke;
}

.noaccount .sign-up {
  background-color: transparent;
  color: whitesmoke;
  box-shadow: 0 0 3px rgb(30, 144, 255);
}

.noaccount .sign-up:hover {
  background-color: rgb(30, 144, 255);
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 8px;
}

.action-items {
  width: 135px;
}
